<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <div class="container-fluid">
    <!-- Home icon -->
    <a class="navbar-brand" href="/index">
      <i class="bi bi-house-door-fill"></i>
    </a>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-2">
        <li class="nav-item">
          <a class="nav-link" href="/stories/first-story">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/collection">Collection</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
