<!-- panel-secondary.html -->

<div
  class="stacked-canvas stacked-canvas-second p-5"
  id="{{ include.id }}"
  aria-labelledby="{{ include.id }}Label"
  aria-hidden="true"
  role="dialog"
>
  <div class="stacked-header d-flex justify-content-between align-items-start">
    <h3 id="{{ include.id }}Label" class="pt-5 mb-0">{{ include.title }}</h3>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      onclick="closeStackedPanel('{{ include.id }}')"
    ></button>
  </div>
  <div class="stacked-body mt-3">{{ include.content }}</div>
</div>
