<!-- panel-primary.html -->
<div
  class="offcanvas offcanvas-end offcanvas-first p-5"
  tabindex="-1"
  id="{{ include.id }}"
  aria-labelledby="{{ include.id }}Label"
>
  <div class="offcanvas-header">
    <h3 id="{{ include.id }}Label" class="pt-5">{{ include.title }}</h3>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    {{ include.content }} {% if include.nested_button_id %}
    <button
      class="btn btn-secondary mt-3"
      onclick="openStackedPanel('{{ include.nested_button_id }}')"
    >
      Go deeper
    </button>
    {% endif %}
  </div>
</div>
